/* Navbar.css */
.navbar {
  position: fixed;
  width: 100%;
  transition: top 0.3s;
}

.navbar.hidden {
  top: -200px;
}

.navbar.visible {
  top: 0;
}
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85vw;
    margin: 0 auto;
    padding: 1.5rem 2rem;
}

#nchp-logo {
    height: 15vh;
    width: auto;
}
  
.nav-links {
    display: flex;
    align-items: center;
    text-align: center;
}
  
.nav-links a {
    color: white;
    text-decoration: none;
    align-items: center;
    margin: 0 2rem;
    font-size: 1.2rem;
    display: block;
    cursor: pointer;
    transition: color 0.3s ease;
}
  
.menu-icon {
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .nav-links a{
    font-size: 1rem;
    margin: 0 1.5rem;
  }
}
  
@media only screen and (max-width: 715px) {
  .nav-links a {
    font-size: 1rem;
    margin: 0 1.1rem;
  }

  #nchp-logo {
    height: auto;
    width: 85%;
  }

}

@media only screen and (max-width: 600px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, 
      #c33ecf 0%, 
      #6b3491 20%, 
      #1E224F 40%, 
      #07152F 100%
    );
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    position: fixed;
    top: 0;
    right: -100%;
  }

  #nchp-logo {
    height: 15vh;
    width: auto;
  }
  
  .nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.5rem;
    gap: 0.5rem;
    background: linear-gradient(45deg, 
      #c33ecf 0%, 
      #6b3491 20%, 
      #1E224F 40%, 
      #07152F 100%
    );
    border: 1px solid black;
    transition: 0.3s ease-in-out;
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
  }
  
  .nav-links.show a {
    font-size: 1.75rem;
  }

  .menu-icon {
      display: block;
      transition: color 0.3s ease;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
  }

  .close-icon {
      display: none;
      cursor: pointer;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
  }

  .nav-links.show .menu-icon {
      display: none;
  }

  .nav-links.show .close-icon {
      display: block; 
      color: white;
      font-size: 1.5rem;
  }
}
